.banner{
    height:255px;
    background:url("../imgs/about/banner.jpg") center center no-repeat;
    background-size:cover;
}

.item_box img{
    display:block;
    width:100%;
    height:100%;
    margin:0 auto;
}

.content_item strong{
    font-weight:bold;
}