.banner{
    height:255px;
    background:url("../imgs/business_area/banner.jpg") center center no-repeat;
    background-size:cover;
}

.bg_content {
  background:url("../imgs/bg/bg_01.png") repeat;
}

.bg_content .content{
  width:1202px;
  height:100%;
  margin:0 auto;
}

.content .content_item{
  padding-top:40px;
  box-sizing:border-box;
}

.content_item .item_box{
  width:100%;
}

.item_box .describution_ol{
  border-bottom:1px solid #e2e1e1;
}

.describution_ol li{
  height:40px;
}

.describution_ol li span{
  display:block;
  height:100%;
  line-height:40px;
  float:left;
  font-size:15px;
  color:#333;
}

.describution_ol li .blue_span{
  font-weight:700;
  color:#5cadff;
}

.item_box ul{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  margin-top:40px;
}

.item_box p{
  width:100%;
  height:20px;
  line-height:20px;
  text-align:center;
  font-size:15px;
  color:#333;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.item_box img{
  display:block;
  width:100%;
}

#item_box_1 ul li{
  width:30%;
  height:300px;
  margin-bottom:40px;
}