.bg_route{
    height:50px;
    background:url("../../imgs/bg/bg_01.png") repeat;
}

.bg_route .route{
    width:1202px;
    height:100%;
    margin:0 auto;
}

.route .route_ul{
    width:50%;
    height:100%;
    float:right;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.route_ul li{
    height:100%;
    line-height:50px;
    color:#333;
}

.route_ul li a{
    color:#333;
}